/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.12.2017, 10:00:24
    Author     : Korobov_A
*/

/*******************************************************/
/*************** Начало описания заголовка *************/
/*******************************************************/

#main_header {
    display: flex;
    justify-content: flex-start;
    background:#819A32;
}

#logo {
    width: 200px;
    height: 120px;
    border-left:3px solid wheat;
    border-top:3px solid wheat;
    border-bottom:3px solid wheat;
}

#caption {
    font-family: 'Comic Sans MS';
    font-size: 40px;
    color: wheat; 
    text-align: center;
    border: 3px solid wheat;
    flex-grow: 3;   
}

/*******************************************************/
/************* Окончание описания заголовка ************/
/*******************************************************/

/*******************************************************/
/***************** Начало описания меню ****************/
/*******************************************************/

#main_menu {
    display: flex;
    justify-content: center;
    border-top:3px solid wheat;
}

#main_menu, .sub_menu {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:11px;/*делаем отступ сверху*/
    background:#819A32; /*добавляем фон всему меню*/
    height: 50px; /*задаем высоту*/
}

nav a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#819A32; /*добавляем фон к пункту меню*/
    color:wheat; /*меняем цвет ссылок*/
    padding:0px 15px; /*добавляем отступ*/
    font-family: 'Comic Sans MS'; /*меняем шрифт*/
    font-size: 20px;
    line-height:50px; /*ровняем меню по вертикали*/
    display: block; 
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    transition: background 0.5s;
}

a:hover {
    background:#D43737;/*добавляем эффект при наведении*/
}

a:focus {
    background:#D43737;/*добавляем эффект при клике*/
}

nav li {
    position: relative; /*задаем позицию для позиционирования*/
}

nav ul li:last-child {
    border-right: 3px solid wheat;
    border-left: 3px solid wheat;
    border-bottom: 3px solid wheat;
}

nav ul li:first-child, nav ul li {
    border-left: 3px solid wheat;
}

nav ul li ul li {
    border-right: 3px solid wheat;
    border-bottom: 1px solid wheat;
}

/*Стили для скрытого выпадающего меню*/
li > ul {
    position:absolute;
    top:42px;
    width:250px;
    opacity: 0;
    transition: opacity 1s;
    text-align: left;
}

/*Делаем скрытую часть видимой*/
li:hover > ul {
    opacity: 1;
    width:250px; 
}

li:hover > ul > li {
    float:none; /*Убираем горизонтальное позиционирование*/
}

/*******************************************************/
/*************** Окончание описания меню ***************/
/*******************************************************/

/*******************************************************/
/*********************** Адаптивка *********************/
/*******************************************************/

@media (max-width: 1000px) {
    #caption {font-size: 35px;}
    #main_menu, .sub_menu {margin-top:21px;}
    #logo {height: 123px;}
    li > ul {top:32px;}
}

@media (max-width: 900px) {
    #caption {font-size: 30px;}
    #main_menu, .sub_menu {margin-top:28px;}
    li > ul {top:25px;}
}

@media (max-width: 810px) {
    #caption {font-size: 25px;}
    nav a {font-size: 15px;}
    #main_menu, .sub_menu {margin-top:35px;}
    li > ul {top:18px;}
}

@media (max-width: 750px) {
    #logo {display: none}
}
/*******************************************************/
/******************Окончание адаптивки *****************/
/*******************************************************/

/*******************************************************/
/**************** Начало описания подвала **************/
/*******************************************************/

#main_footer {
    display: flex;
    justify-content: flex-start;
    background:#819A32;
    border: 3px solid wheat;
}

#social {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    background:#819A32;
    border-right: 3px solid wheat;
}

#line_one {
    display: flex;
    justify-content:space-around;
    background:#819A32;
}

#line_two {
    display: flex;
    justify-content:flex-start;
    background:#819A32;
}

.soc_img {
    margin: 5px;
    animation: sc 1s;
}

@keyframes sc {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*******************************************************/
/************** Окончание описания подвала *************/
/*******************************************************/